

button{
    cursor: pointer;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

    .login-container{
    border: 1px solid;
    padding: 20px;
    color: var(--primary-bg-btn-color);  /* Global Scope  sab tarf chalega  */
    color:var(--secondary-btn-border-color) /* Local variables not accessed outside the file  */
}

/* Pseudo Elements */
.required::before{
  content: "*";
  color: red;
}

.required::after{
  content: ":";
  color: red;
}
}


